#--------------------------------------------
# IGNORED DIRECTORIES
#--------------------------------------------
.cache/
.temp/
.vscode/
build/*
#
#--------------------------------------------
# Ignored Build Files
#--------------------------------------------
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json
#
#--------------------------------------------
# Ignored Build File Types
#--------------------------------------------
*.lib
*.dll
*.so
*.dylib
*.o
*.obj
*.a
#
#--------------------------------------------------------------------------
# Configuration Files
#--------------------------------------------------------------------------
# ".gitignore", ".clangd", ".clang-format",  and ".editorconfig" are in the
# repository, but their contents should be static, so the files are ignored
# to prevent accidental edits.
.gitignore
.gitattributes
.editorconfig
.clang-format
.clang-tidy
.clangd
