#=================================================
# DIRECTORIES
#=================================================
.vscode/*
.trash/
.cache/
.temp/
.tmp/
.log/
build/*
test/pseudo-data/*


#=================================================
# CLANG GENERATED BUILD ARTIFACTS
#=================================================
*.lib
*.dll
*.so
*.dylib
*.o
*.obj
*.a


#=================================================
# CMAKE GENERATED ARTIFACTS
#=================================================
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json


#=================================================
# NINJA GENERATED ARTIFACTS
#=================================================
.ninja_deps
.ninja_log
.ninja_status
build.ninja


#=================================================
# Configuration Files
#=================================================
.gitignore
.gitattributes
.editorconfig
.clang-format
.clang-tidy
.clangd
